// Styling for the portfolio section
#portfolio {
    text-align: center;
  .portfolio-item {
    .portfolio-caption {
      padding: 25px;
      background-color: $white;
      h4 {
        margin: 0;
        text-transform: none;
      }
      p {
        font-size: 16px;
        font-style: italic;
        margin: 0;
        @include serif-font;
      }
    }
  }
  * {
    z-index: 2;
  }
}
